# Meta folder, no need to commit this.
*/_META

# Exclude compiled versions
*.cpp_c
*.cs_c
*.java_c
*.rs_c
*.ts_c

# Don't push node stuff
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
package.json
**/package.json
