# Meta folder, no need to commit this.
*/_META

# Exclude compiled versions
*.cpp_c
*.cs_c
*.hs_c
*.java_c
*.kt_c
*.rs_c
*.ts_c

# Just in case things go wrong
*.class
*.js

# Don't push node stuff
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
package.json
**/package.json

# Ignore temp file
temp
