# Meta folder, no need to commit this.
*/_META

# Exclude compiled versions
*.class
*.exe
*.js
*.cppexe
*.rustc

# Don't push node stuff
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json
package.json
**/package.json
